<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" >
	<param name="pixel_format" value="yuyv"/>
	<param name="image_width" value="640" />
	<param name="image_height" value="480" />
	<param name="framerate" value="60" />
	<param name="autofocus" value="false" />
    </node>
    <!-- <node name="marathon_params" pkg="dynamic_params" type="marathon_server.py" /> -->
    <!-- <node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /marathon_params /home/barelangfc/catkin_ws/dataset/marathon_param.yaml" /> -->
    <rosparam command="load" file="/home/barelangfc/dump.yaml" /> 
    <node name="darwin_motion_bridge" pkg="darwin_motion_bridge" type="darwin_motion_bridge.py" />
    <node name="marathon_line_detector" pkg="marathon_line_detector" type="marathon_line_detector.py" />
    <node name="marathon_marker_detector" pkg="marathon_marker_detector" type="marathon_marker_detector.py" />
    <node name="marathon_player" pkg="marathon_player" type="marathon_player.py" output="screen"/>
</launch>