<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" >
	<param name="pixel_format" value="yuyv"/>
	<param name="image_width" value="320" />
	<param name="image_height" value="240" />
	<param name="framerate" value="60" />
	<param name="autofocus" value="false" />
    </node>
    <node name="darwin_motion_bridge" pkg="darwin_motion_bridge" type="darwin_motion_bridge.py" />
    <node name="sprint_qrcode_detector" pkg="sprint_qrcode_detector" type="sprint_qrcode_detector.py"/>
    <node name="sprint_player" pkg="sprint_player" type="sprint_player.py" output="screen"/>
</launch>
